:root {
  font-family: 'Cascadia Code', monospace;
  line-height: 1;
  font-weight: 600;

  color: #fff;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* for development */
  /*color-scheme: dark;*/
}

body {
  /* `background-color` is set and removed dynamically. do not set here */
  margin: 0px; /* default */
  overflow: hidden;
}
