:root {
  font-family: 'Cascadia Code', monospace;
  line-height: 1;
  font-weight: 600;

  color: #fff;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
